.movie-name {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    /* number of lines to show */
    line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.overivew-box {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    /* number of lines to show */
    line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}